{% extends "base.html" %}
{% block content %}

<h3 class="center-align light-blue-text text-darken-4">Edit Review</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
        <!-- Genre selection -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="genre_name name=" name="genre_name" class="validate" required>
                    <option value="" disabled selected>Choose Genre</option>
                    {% for genre in genres %}
                            <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                    {% endfor %}
                </select>
                <label>Book Genre</label>
              </div>
        </div>
        <!-- Book name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <input id="review_name" name="review_name" minlength="5" maxlength="50"
                    type="text" class="validate" required>
                <label for="review_name">Book Name</label>
            </div>
        </div>
        <!-- book review -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <textarea id="review_description" name="review_description" minlength="5"
                    maxlength="500" class="materialize-textarea validate" required></textarea>
                <label for="review_description">Review</label>
            </div>
        </div>
        <!-- review rating -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <textarea id="review_rating" name="review_rating" minlength="5"
                    maxlength="500" class="materialize-textarea validate" required></textarea>
                <label for="review_rating">Book Rating</label>
            </div>
        </div>
        <!-- book cover -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <textarea id="book_cover" name="book_cover" minlength="5"
                    maxlength="500" class="materialize-textarea validate" required></textarea>
                <label for="book_cover">Book Cover Image</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Edit Review <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}